<!DOCTYPE html>
<html lang="en" >
<head>
    <title><{$admin.title}></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="__CSS__/admin_default_layout.css" type="text/css"/>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="__JS__/admin/admin_default_layout.js"></script>
</head>
<body class="cms-body">
    <div class=" cms-header ">
        <{include file="index/navbar"/}>
    </div>
    <div class="abs cms-panel wp_100">
        <div class="cms-content wp_100 hp_100">
            <iframe id="iframe" frameborder="0" name="Iframe" src="/admin/web/index" width="100%" height="99%">
                您的浏览器不支持嵌入式框架，或者当前配置为不显示嵌入式框架。
            </iframe>
        </div>
    </div>
        

    
</body>
</html>