<{extend name="./index/iframe"}>
<{block name="content"}>
<form class="form-horizontal" method="post" role="form" action="<{$header.form}>">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                内联的复选框和单选按钮的实例
            </h3>
        </div>
        <div class="panel-body node-panel-body">
            <label class="checkbox-inline">
                <input type="checkbox"  value="option1"> 选项 1
            </label>
            <label class="checkbox-inline">
                <input type="checkbox"  value="option2"> 选项 2
            </label>
            <label class="checkbox-inline">
                <input type="checkbox"  value="option3"> 选项 3
            </label>
            <label class="checkbox-inline">
                <input type="checkbox"  value="option1"> 选项 1
            </label>
            <label class="checkbox-inline">
                <input type="checkbox"  value="option2"> 选项 2
            </label>
            <label class="checkbox-inline">
                <input type="checkbox"  value="option3"> 选项 3
            </label>
            <label class="checkbox-inline">
                <input type="checkbox"  value="option1"> 选项 1
            </label>
            <label class="checkbox-inline">
                <input type="checkbox"  value="option2"> 选项 2
            </label>
            <label class="checkbox-inline">
                <input type="checkbox"  value="option3"> 选项 3
            </label>
            <label class="checkbox-inline">
                <input type="checkbox"  value="option1"> 选项 1
            </label>
            <label class="checkbox-inline">
                <input type="checkbox"  value="option2"> 选项 2
            </label>
            <label class="checkbox-inline">
                <input type="checkbox"  value="option3"> 选项 3
            </label>
            <label class="checkbox-inline">
                <input type="checkbox"  value="option1"> 选项 1
            </label>
            <label class="checkbox-inline">
                <input type="checkbox"  value="option2"> 选项 2
            </label>
            <label class="checkbox-inline">
                <input type="checkbox"  value="option3"> 选项 3
            </label>
            <label class="checkbox-inline">
                <input type="checkbox"  value="option1"> 选项 1
            </label>
            <label class="checkbox-inline">
                <input type="checkbox"  value="option2"> 选项 2
            </label>
            <label class="checkbox-inline">
                <input type="checkbox"  value="option3"> 选项 3
            </label>
            <label class="checkbox-inline">
                <input type="checkbox"  value="option1"> 选项 1
            </label>
            <label class="checkbox-inline">
                <input type="checkbox"  value="option2"> 选项 2
            </label>
            <label class="checkbox-inline">
                <input type="checkbox"  value="option3"> 选项 3
            </label>
        </div>
        <div class="panel-body node-panel-body">
            <label class="checkbox-inline">
                <input type="checkbox"  value="option1"> 选项 1
            </label>
            <label class="checkbox-inline">
                <input type="checkbox"  value="option2"> 选项 2
            </label>
            <label class="checkbox-inline">
                <input type="checkbox"  value="option3"> 选项 3
            </label>
            <label class="checkbox-inline">
                <input type="checkbox"  value="option1"> 选项 1
            </label>
            <label class="checkbox-inline">
                <input type="checkbox"  value="option2"> 选项 2
            </label>
            <label class="checkbox-inline">
                <input type="checkbox"  value="option3"> 选项 3
            </label>
            <label class="checkbox-inline">
                <input type="checkbox"  value="option1"> 选项 1
            </label>
            <label class="checkbox-inline">
                <input type="checkbox"  value="option2"> 选项 2
            </label>
            <label class="checkbox-inline">
                <input type="checkbox"  value="option3"> 选项 3
            </label>
            <label class="checkbox-inline">
                <input type="checkbox"  value="option1"> 选项 1
            </label>
            <label class="checkbox-inline">
                <input type="checkbox"  value="option2"> 选项 2
            </label>
            <label class="checkbox-inline">
                <input type="checkbox"  value="option3"> 选项 3
            </label>
            <label class="checkbox-inline">
                <input type="checkbox"  value="option1"> 选项 1
            </label>
            <label class="checkbox-inline">
                <input type="checkbox"  value="option2"> 选项 2
            </label>
            <label class="checkbox-inline">
                <input type="checkbox"  value="option3"> 选项 3
            </label>
            <label class="checkbox-inline">
                <input type="checkbox"  value="option1"> 选项 1
            </label>
            <label class="checkbox-inline">
                <input type="checkbox"  value="option2"> 选项 2
            </label>
            <label class="checkbox-inline">
                <input type="checkbox"  value="option3"> 选项 3
            </label>
            <label class="checkbox-inline">
                <input type="checkbox"  value="option1"> 选项 1
            </label>
            <label class="checkbox-inline">
                <input type="checkbox"  value="option2"> 选项 2
            </label>
            <label class="checkbox-inline">
                <input type="checkbox"  value="option3"> 选项 3
            </label>
        </div>
    </div>

</form>
    
<{/block}>