<!DOCTYPE html>
<html lang="en">
    <head>
        <title><{$admin.title}></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="__CSS__/admin_default_layout.css" type="text/css"/>
        <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="login-panel o_h">
            <div class="cms-title wp_100 t_c">
                <{$admin.title}>
            </div>
            <form action="login/login" method="post">
                <div class="cms-login wp_100 t_c">
                    <div class="cms-login-div">
                        <span class="glyphicon glyphicon-user" ></span>
                        <input name="login[name]" required/>
                    </div>
                    <div class="cms-login-div">
                        <span class="glyphicon glyphicon-lock"></span>
                        <input name="login[password]" type="password" required/>
                    </div>
                    <div class="cms-login-img">
                        <input name="login[verify]" placeholder="验证码" required/>
                        <img class="verify-img" name="login[verify]" src="<{:captcha_src()}>" onclick="this.src='<{:captcha_src()}>?x='+Math.random();" alt="验证码"/>
                    </div>
                    <div class="cms-login-div">
                        <button type="submit">登录</button/>
                    </div>
                </div>
            </form>
            
        </div>
        
    </body>
    
</html>