@import "tra_base.css";/*公共css*/

/*==================================问卷主页=========================================*/
#question-top-img{
    background: url(../images/question/header.jpg) no-repeat;
    background-size: 100%;
    background-position: center;

}
#question-content{position: absolute; top: 15%;}

.q-content-topic{/*topic*/
    position: absolute; top: 0; left: 5%;
    background-color: white;
    -moz-box-shadow: 0px 3px 10px #e0e0e0;  
    -webkit-box-shadow: 0px 3px 10px #e0e0e0; 
    box-shadow: 0px 3px 10px #e0e0e0;}

#question-foot{position: absolute; top: 81%; left: 5%; overflow: auto;
    padding: 5px 10px 5px 10px; font-size: 1em; color: #a0a0a0}
#question-content span{font-size: 1.2em;}
#div-topic{ 
    /*border-bottom: 1px solid #c0c0c0;*/
    padding: 15px 10px 15px 10px; overflow: auto;}
#question-button-div{position: absolute; left: 0; bottom: 5%;}
#question-button-div button{font-size: 1.1em;}



div.swiper-slide-card{ padding-left: 5px; padding-right: 5px;
    height: 97%; background-color: white; margin-left: 5%;
    -moz-box-shadow: 0px 3px 10px #e0e0e0;  
    -webkit-box-shadow: 0px 3px 10px #e0e0e0; 
    box-shadow: 0px 3px 10px #e0e0e0;
}
.swiper-slide-card span{ padding-left: 20px;}
.swiper-slide-card ul{padding-left: 40px;}
li.li-answer{list-style-type:none;}

.carousel-ctrl{padding-top: 340%; font-size: 20px; color: #c0c0c0;}
.carousel-inner span{padding-left: 20px;}
.carousel-inner ul{margin-left: 50px;}
li.li-answer{margin: 15px 0 15px 0; font-size: 1.1em;}

div.mask{position: absolute; top: 0; left: 0; opacity: 0.5; display: none; z-index: 99;}
div.card{position: absolute; top: 30%; left: 10%; background-color: white;
    -moz-box-shadow: 0px 3px 10px #e0e0e0;  z-index: 999;
    -webkit-box-shadow: 0px 3px 10px #e0e0e0; display: none;
    box-shadow: 0px 3px 10px #e0e0e0; padding-top: 20px;
}
div.card span{font-size: 1.5em;}




